extends layouts/mainLayout.pug    

block content
    +createPost(userLoggedIn)

    +modalCreate(userLoggedIn)
    +modalDeletePost(userLoggedIn)

    .mb-3


    .postsContainer#postContainer

block script
    script(src="/js/home.js")




    

    
                





