<div class="postContainer" id="${postData._id}">
    <div class="postHeader">
        <div>
        <div class=""><button><i class="fa-solid fa-ellipsis"></i></button></div>
        </div>
        <div class="postUserInfo"><span> <b>${postData.postedBy.firstName}</b></span><span>${timeDifference(new Date(), new Date(postData.createdAt))}</span></div>
            <div class="userImageContainer"><img src="/images/profilePic.png" alt="" /></div>
    </div>
    <div class="postContent">
        <p>${postData.content}</p>
    </div>
    <div class="postImg">
    </div>
    <div class="firstFooter">
        <div class="firstFooterR"><span>2 comments</span></div>
        <div class="firstFooterL"><span>22</span></div>
    </div>
    <hr />
    <div class="postFooter">
        <div class="postButtonContainer"><button class="shareButton"><i class="fa-solid fa-share-from-square"> </i></button>
        </div>
        <div class="postButtonContainer"><button class="commendButton"><i class="fa-solid fa-message"></i></button>
        </div>
        <div class="postButtonContainer"><button class="likeButton ${likeButtonActiveClass}"><i class="fa-solid fa-thumbs-up"></i><span>${postData.likes.length || ""}</span></button>
        </div>
    </div>
    <div class="comments">
        <hr/>
        <div class="userImageContainer"></div>
        <div class="commentcontent">
            <span><b>name</b></span>
            <p>comment data</p>
        </div>
    </div>
</div>
<div class="mb-3"></div>